      /* Launchpad Philly Logo */
      img {
        width: 200px;
        height: 150px;
        background-color: lightblue;
        border-radius: 5%;
      }
      <p style="text-align:center;"> <img src="https://www.lambdatest.com/resources/images/logos/logo.svg" alt="LambdaTest"> </p>
<style type="text/css"> .centerImg { text-align:center; display:block; } </style>